<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC70qRayJ1Ffl5VXLmFggzZMzf63PWc_jc</string>
	<key>GCM_SENDER_ID</key>
	<string>332546023963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marathiAi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>marathi-ai-15122023</string>
	<key>STORAGE_BUCKET</key>
	<string>marathi-ai-15122023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332546023963:ios:a04621824013a884db0ebe</string>
</dict>
</plist>